node_modules/
# misc
.DS_Store
packages/client/yarn-error.log
packages/client/node_modules/
packages/client/.next/


### server ignore ###
packages/server/src/main/resources/application.yml
packages/server/src/main/resources/application.properties